.user-div{
    width: 800px;
    padding: 40px;
    font-weight: 400;
    font-family: "Poppins",sans-serif;
}

.user-div > h1 {
    color: rgb(64, 151, 205);
}

.user-div > h3{
    font-size: 20px;
}

.book-name{
    font-size: 12px;
}